.pagination > .active > a {
    color: black;
    background-color: #00923F !Important;
    border: solid 1px #00923F !Important;
}

.pagination > .page-item > a {
    color: #00923F;
}

a {
  font-weight: bold;
  color: #00923F;
}

.dropdown-item:active{
  background-color: #FCDB00;
}

.nav-link.active{
  background-color: #FCDB00 !important;
}

.hidden-menu{
  display: none;
}

.table{
  width: 99%;
}